@charset "utf-8";
.h1 {
    font-family: "Lucida Calligraphy";
    text-align: center;
    background-color: #4A7C59;
    color: #FFFFFF;
    padding-top: 0.5%;
    padding-right: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 0.5%;
}
.body {background-image: url(../Documents/Unnamed%20Site%202/neida-zarate-tKkcPKULeVQ-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

	.bio {
    color: #D8DCFF;
    left: 0%;
    right: 100%;
    float: right;
    display: flex;
    background-color: #565676;
    width: 60%;
    padding-top: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
		
}
.links {
    color: #AEADF0;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}
a {
  color: #D8DCFF; 
}
